footer
  .container.text-center
    p.pull-left © 2016 RM*, Inc. All Rights Reserved
    ul.pull-right.list-inline
      li
        a(href='/contact') Contact 
      li
        a(href='/about') About
