footer
  .container.text-center
    p.pull-left(style="color:black") © 2016 RM*, Inc. All Rights Reserved
    ul.pull-right.list-inline(style="width:60%;text-align:right")
      li(style="width:20%")
        a(href='/contact') Contact Us
      li(style="width:20%")
        a(href='#') About