footer
  style.
    footer p{color: #ffffff}
    footer ul a{color: #ffffff;}
    p{color: #fff;}
  .container.text-center
    p.pull-left © 2016 RM*, Inc. All Rights Reserved
    ul.pull-right.list-inline
      li
        a(href='/contact') Contact
      li
        p &nbsp &nbsp &nbsp &nbsp
      li
        a(href='/about') About
