extends layout

block content
  h1(style ='text-align:center') About Us
  p.lead(style='text-align:center') Lorem ipsum dolor sit amet, consectetur adipiscing elit.
  hr
  .row
    .col-sm-6
      h2 About the team
      p Etiam vehicula justo a libero accumsan, maximus interdum nibh interdum. Nunc rutrum est sit amet nibh dictum, ut ultrices tellus finibus. Vivamus at magna in lacus tempor ultrices in at mi. Donec at magna pharetra ipsum luctus porta. Vestibulum nibh urna, maximus nec arcu vel, dictum efficitur est.
      p Maecenas id lacus in libero tincidunt gravida eget rhoncus neque. Aenean suscipit quis risus ut consectetur. Fusce ornare risus in nisl dictum rutrum. Curabitur ultricies dictum rutrum. Nulla odio tellus, laoreet nec orci nec, malesuada elementum ex. Maecenas consectetur vitae massa id lobortis.
    .col-sm-6
      h2 About the app
      p Sed lacinia cursus urna id pretium. Pellentesque nibh leo, faucibus vitae luctus id, dapibus id orci.Cras a augue id tortor semper congue ut sed augue. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Donec pharetra risus in tortor cursus, quis consectetur urna feugiat.
      p Curabitur pharetra tellus ac magna luctus imperdiet. Curabitur ornare faucibus libero at pellentesque. Fusce non erat vitae sapien porttitor placerat ac nec magna. Proin sed egestas libero. Nam vitae ipsum a nibh tristique aliquet. Donec semper molestie libero quis lacinia.  
  hr
  img.center-block(src='images/unitednerds.jpg' alt='nerds' style='width:350px;height:200px')
    
