extends layout

block content
    style.
        h2 {margin-left: 95px; color: #ffffff;}
        button {margin-left: 220px;}
        a.btn.btn {margin-left: 200px; background-color #ffffff;}
        p {color: #ffffff;}
        .coolfont {position: relative;font: 300 80px/1.0 'Just Another Hand', Helvetica, sans-serif;color: #969595;text-shadow: 0px 3px 0px #5e5e5e, 0px 5px 0px #4d4d4d, 0px 7px 0px #3c3c3c, 0px 9px 0px #2b2b2b, 3px 8px 15px rgba(0, 0, 0, 0.1), 3px 8px 5px rgba(0, 0, 0, 0.3);margin-left: auto;margin-right: auto;text-align: center;padding-bottom: 20px;color: #ffffff;
    img.center-block(src='images/tbt3.png', alt='MTSU_IMG', style='width:350px;height:375px;margin-top:25px')
    link(href='http://fonts.googleapis.com/css?family=Just+Another+Hand', rel='stylesheet', type='text/css')
    p.coolfont
        | A Middle Tennessee State University tutoring web application
    .row
      .col-sm-6
        h2 Click here to ask a question
        a.btn.btn-default(href='#')
          i.fa.fa-user
          | Ask a question
      .col-sm-6
        h2 Click here to chat with a tutor
        a.btn.btn-default(href='/chat')
          i.fa.fa-user
          | Chat with a tutor
